@import "tailwindcss";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
